---
layout: default
slider:
    - img: Fruit-Treat_All.jpg
      title: Fruit Treat Naturals
      about: Healthy, Crispy, Crunchy and Tasty Fruit Treat, made with fruits naturally and organically cultivated in the heart of Western Ghats rich in medicinal Plants.
    - img: Fruit-Treat_Banana.jpg
      title: Banana Treat
      about: Healthy, Crispy, Crunchy and Tasty Banana Treat, made with fruits naturally and organically cultivated in the heart of Western Ghats rich in medicinal Plants.
    - img: Fruit-Treat_Chickoo.jpg
      title: Chickoo Treat
      about: Healthy, Crispy, Crunchy and Tasty Chickoo Treat, made with fruits naturally and organically cultivated in the heart of Western Ghats rich in medicinal Plants.  
    - img: Fruit-Treat_Jackfruit.jpg
      title: Jackfruit Treat
      about: Healthy, Crispy, Crunchy and Tasty Jack Treat, made with Jackfruits naturally and organically cultivated in the heart of Western Ghats rich in medicinal Plants. 
    - img: Fruit-Treat_Papaya.jpg
      title: Papaya Treat
      about: Healthy, Crispy, Crunchy and Tasty Papaya Treat, made with fruits naturally and organically cultivated fruits in the heart of Western Ghats rich in medicinal Plants.  
products:
    - img: FruitTreat-Banana.jpg
      title: Natural Banana Chips
      about: "<li>Made with fruits naturally and organically cultivated in pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>Free from preservatives.</li><li>No added sugar.</li><li>No added color.</li><li>Rich in Protein, Potassium, Dietary Fibers, Vitamin B6 and C.</li>"
      
    - img: FruitTreat-Chickoo.jpg
      title: Natural Chickoo Chips
      about: "<li>Made with Sapota fruits naturally and organically cultivated in pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>Free from perseverates.</li><li>No added sugar.</li><li>No added color.</li><li>Rich in Dietary Fibers, Potassium, Copper , Iron and Vitamin C.</li>"
      
    - img: FruitTreat-Jackfruit.jpg
      title: Natural Jackfruit Chips
      about: "<li>Made with Jack fruits naturally and organically cultivated in pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>Free from perseverates.</li><li>Zero Cholesterol, Filled With Vitamin A, C, E, K, B6.</li><li>Best supplement of Copper, Manganese & Magnesium.</li>"
      
    - img: FruitTreat-Papaya.jpg
      title: Natural Papaya Chips
      about: "<li>Made with Papaya fruits naturally and organically cultivated in pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>Free from perseverates.</li><li>No added sugar.</li><li>No added color.</li><li>Rich in Protein, Potassium, Dietary Fibers, Manganese, Vitamin B6 and C.</li>"

reviews:
    - name: Deepak Gowda
      about: Area Head, CGE
      testimonial: What you find in the packet isn't some pieces dried fruits. You'll find the authenticity - in terms of taste, flavour and nutritious values - of a fresh one with extended longevity.
      image: deepak.jpg
      
    - name: Adithya Rao
      about: Faculty in Physics
      testimonial: Tastes like heaven. I would recommend this to everyone.
      image: Adithya-Rao.jpg
      
    - name: Pannaga Sharman
      about: Musician 
      testimonial: Fruittreat has put the whole fruit inside a packet! Tasty and Healthy!
      image: Pannag.jpg
      
    - name: Nitish Kannantha
      about: Director, Jacobian Software PVT LTD
      testimonial: This product is amazing. This might replace the conventional chips we are used to eating.
      image: Nitish.jpg
      
    - name: Srinidhi
      about: Businessman
      testimonial: Technology has made it possible to eat a fruit without all the mess of peeling it. Now I can eat it like a chocolate.
      image: Nidhi.jpg
      
    - name: Spandana
      about: Freelance Developer
      testimonial: No sugar is the unique selling point. I like the chickoo treat a lot!
      image: spandanaa.jpg
---

<div class="loader-backdrop">           <!-- Pre Loader -->
        <div class="loader">
     <!--        <span class="dot dot1"></span>
            <span class="dot dot2"></span>
            <span class="dot dot3"></span>
            <span class="dot dot4"></span> -->
            <img src="/img/fruit-treat-spinner.gif" alt="" width="60">
        </div>
    </div>
    
  {% include header-index.html %}
  
  {% include slider.html %}
  {% include about-us.html %}
  {% include products.html %}
  {% include tech.html %}
 
   <!-- reviews -->
   
   <!-- what's so special -->

   <!-- units sold -->

   <!-- booking -->

   <!-- featured by -->

   {% include testimonials-2.html %}
   {% include team.html %}
   {% include contact.html %}
   <!-- plans -->
   <!-- faq -->
   <!-- buy headset -->
   {% include footer.html %}