---
layout: default
slider:
  - img: /images/new/fruittreat-all.jpg
    title: Fruit Treat Naturals
    about: Healthy, Crispy, Crunchy and Tasty Fruit Treat, made with fruits naturally and organically cultivated in the heart of Western Ghats rich in medicinal Plants.
  - img: /images/new/Bhindi-removebg.png
    title: Bhindi Treat
    about: Healthy, Crispy, Crunchy, and Tasty Bhindi Treat, made with Okra and organically cultivated in the heart of Western Ghats rich in vitamins A and C.
  - img: /images/new/sweet-corn-3.png
    title: Sweet Corn Treat
    about: Healthy, Crispy, and Crunchy, these Sweet Corn Kernels are rich in vitamin B9. Additionally, being gluten-free makes them a wholesome choice for various dietary preferences.
  - img: /images/new/Jackfruit-removebg.png
    title: Jackfruit Treat
    about: Healthy, Crispy, Crunchy, and Tasty Jackfruit Treat, made with Jackfruits naturally and organically cultivated in the heart of the Western Ghats. rich in medicinal Plants. With no added sugar, colour, or preservatives, this snack is rich in vitamin C and one of the few fruits that's high in B vitamins.
  - img: /images/new/FruitTreat potato.png
    title: All Izz Well Potato Finger Chips
    about: Healthy, Crispy, Crunchy, and vacuum-fried potato Finger Chips / French Fries, made with hand-picked quality Potatoes. <br />This snack offers benefits such as reduced oil absorption, retained crispiness, preserved nutrients, and lower acrylamide formation, making them a healthier and flavourful alternative to traditional deep-fried options.
products:
  - img: /images/new/Bhindi.jpg
    title: Bhindi Treat
    about: "<li>Bhindi Treat is made with Okra cultivated in the pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>Free from preservatives.</li><li>No added sugar.</li><li>No added color.</li><li>Okra is rich in vitamins (C, and K), minerals (folate, potassium), and antioxidants.</li>"

  - img: /images/new/Jackfruit.jpg
    title: Jackfruit Treat
    about: "<li>Jackfruit Treat is made with fresh Jackfruit bulbs cultivated in the pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>Free from perseverates.</li><li>No added sugar.</li><li>No added color.</li><li>Jackfruit is rich in vitamin C, potassium, dietary fibre, and various antioxidants.</li>"

  - img: /images/new/Carrot.jpg
    title: Carrot Treat
    about: "<li>Carrot Treat is made with freshly grown carrots in the pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>No added sugar.</li><li>No added color.</li><li>Carrot is rich in vitamin A, which is crucial for eye health, immune function, and skin health.</li>"

  - img: /images/new/Kabul-Channa.jpg
    title: Kabul Channa Treat
    about: "<li>Kabul Channa Treat is made with protein-rich chickpeas.</li><li>Processed using Vacuum Frying technology.</li><li>Free from perseverates.</li><li>No added sugar.</li><li>No added color.</li><li>Chickpeas are plant-based sources of protein, supporting muscle health, repair, and overall body function.</li>"

  - img: /images/new/Bitter-Gourd.jpg
    title: Bitter Gourd Treat
    about: "<li>Bitter Gourd Treat is made with freshly grown Bitter Gourd in the pristine environment of the Western Ghats.</li><li>Processed using Vacuum Frying technology.</li><li>Free from perseverates.</li><li>No added sugar.</li><li>No added color.</li><li>Bitter gourd is known for its potential to lower blood sugar levels, making it beneficial for individuals with diabetes or those looking to manage blood glucose.</li>"

  - img: /images/new/Sweet-Potatao.jpg
    title: Sweet Potato Treat
    about: "<li>Sweet potato snacks provide complex carbohydrates, offering a sustained release of energy, making them a nutritious snack option.</li><li>Processed using Vacuum Frying technology.</li><li>Free from perseverates.</li><li>No added sugar.</li><li>No added color.</li><li>Sweet potatoes are rich in vitamins like A and C, potassium, and fibre, contributing to overall well-being.</li>"

reviews:
  - name: Deepak Gowda
    about: Area Head, CGE
    testimonial: What you find in the packet isn't some pieces dried fruits. You'll find the authenticity - in terms of taste, flavour and nutritious values - of a fresh one with extended longevity.
    image: deepak.jpg

  - name: Adithya Rao
    about: Faculty in Physics
    testimonial: Tastes like heaven. I would recommend this to everyone.
    image: Adithya-Rao.jpg

  - name: Pannaga Sharman
    about: Musician
    testimonial: Fruittreat has put the whole fruit inside a packet! Tasty and Healthy!
    image: Pannag.jpg

  - name: Nitish Kannantha
    about: Director, Jacobian Software PVT LTD
    testimonial: This product is amazing. This might replace the conventional chips we are used to eating.
    image: Nitish.jpg

  - name: Srinidhi
    about: Businessman
    testimonial: Technology has made it possible to eat a fruit without all the mess of peeling it. Now I can eat it like a chocolate.
    image: Nidhi.jpg

  - name: Spandana
    about: Freelance Developer
    testimonial: No sugar is the unique selling point. I like the chickoo treat a lot!
    image: spandanaa.jpg
---

<div class="loader-backdrop">
  <!-- Pre Loader -->
  <div class="loader">
    <!--        <span class="dot dot1"></span>
            <span class="dot dot2"></span>
            <span class="dot dot3"></span>
            <span class="dot dot4"></span> -->
    <img src="/img/fruit-treat-spinner.gif" alt="" width="60" />
  </div>
</div>

{% include header-index.html %} {% include slider.html %} {% include
about-us.html %} {% include products.html %} {% include tech.html %}

<!-- reviews -->

<!-- what's so special -->

<!-- units sold -->

<!-- booking -->

<!-- featured by -->

{% include testimonials-2.html %} {% include team.html %} {% include
contact.html %}
<!-- plans -->
<!-- faq -->
<!-- buy headset -->
{% include footer.html %}
