<!-- Section --> 
<section class="bgcolor3 pt-100 pb-80 text-justify" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
             <div class="heading-box"><h2>About Us</h2></div>
            
            <p>Suvidha Foods is an enterprise formed by us, a team of youngsters from local farming community who have brought together their skills and learning in various fields. Agriculture, the lone means of livelihood in the heart of the Western Ghats of Karnataka, is mainly affected by the lack of value addition to the agro products. Aware of the ground realities, we have ventured to take a step towards remedying this lacuna and restore the local hoary ethos. </p>
            
            <p>It is our intention to reestablish interest in agriculture among the youth, which is fast eroding. We strive to bring entrepreneurship conducive to the local conditions, and accomplish a holistic progress. We believe that ultimately the exodus of youth from the pristine heart of the Western Ghats would stop and a reversal is achieved.</p>
            
            <p>Our first choice has been Food Processing with special emphasis on preservation of traditional agro products retaining all their nutritional contents. It is our endeavor to record a healthy growth and branch out at a later date. </p>
            <br>
             <h3 class="text-center">Our Vision</h3>
            <p>We envisage a prosperous, progressive and self-reliant rural India, where man-man, man-nature conflicts are resolved by conciliation rather than confrontation.</p>
            </div>
        </div>
    </div>
</section>