 <!-- Section -->
    <section class="pt-100 pb-80" id="process">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Booking Process</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            1
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Refer headset to friend</h5>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            2
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Get Scratch coupon</h5>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            3
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Get extended warranty</h5>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   