    <!-- Section -->
    <section class="bgcolor3 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Enter the virtual world of awesomeness.</h3>
                    <p class="nom">Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                </div>
                <div class="col-md-4">
                    <br>
                    <a href="" class="btn btn-primary btn-lg">Get Headset Now!</a>
                </div>
            </div>
        </div>
    </section>
