  <!-- Section -->
    <section id="contact" class="pt-100 pb-100 subs">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 2em">
                    <div>
                        <h3 class="white">Contact us</h3>
                    </div>
                    <p class="white">We strive hard to provide the best products for our customers. Let us know your requirements.</p>
                       
<!-- <form class="contact-form rev" action="https://getsimpleform.com/messages?form_api_token=110dc4823c4276da5589a2616ac5d2d2" method="post">
        <input type='hidden' name='redirect_to' value='{{site.url}}/thank-you/' />
        <input class="form-control"  type='text' name='Name' placeholder="Your name"/>
        <input class="form-control"  type='email' name='Email' placeholder="Your email"/>
        <input class="form-control"  type='tel' name='Phone' placeholder="Your phone number"/>
        <br />
        <input class="btn btn-primary" type='submit' value='Contact Us' />
</form>
            -->      
            
 <script type="text/javascript">var submitted=false;</script>
 <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='https://fruittreat.com/thank-you/';}"></iframe>                  
<form class="contact-form rev" action="https://docs.google.com/forms/d/e/1FAIpQLSe7TIgIK9gxgj2OG2vXuHUVFSITqgWlgVPYz-3aXVZ_JbiH0w/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
        <!-- <input type='hidden' name='redirect_to' value='{{site.url}}/thank-you/' /> -->
        <input class="form-control"  type='text' name='entry.1306718201' placeholder="Your name"/>
        <input class="form-control"  type='email' name='entry.274821879' placeholder="Your email"/>
        <input class="form-control"  type='tel' name='entry.1965336432' placeholder="Your phone number"/>
        <textarea class="form-control textarea"  type='text' name='entry.1430390246' placeholder="Any Message?" rows="3"></textarea>
        
        <input class="btn btn-primary" type='submit' value='Contact Us' />
</form>
                    
                    
                </div>
                <div class="col-md-6 rev">
                    <iframe class="map" id="map"  allowfullscreen></iframe>
                    <!-- Iframe loads from a script in default layout -->
                </div>
                
            </div>
        </div>
    </section>
