 <!-- Section -->
    <section class="pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Questions Often Asked</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-group accordion" id="a1" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a1heading1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#a1" href="" aria-expanded="true" aria-controls="a1body1">
                                        <i class="ion-ios-toggle-outline"></i> How should I configure it correctly?
                                    </a>
                                </h4>
                            </div>
                            <div id="a1body1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a1heading1">
                                <div class="panel-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a1heading2">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a1" href="" aria-expanded="false" aria-controls="a1body2">
                                      <i class="ion-ios-color-wand-outline"></i> What features does it offer over others?
                                    </a>
                                </h4>
                            </div>
                            <div id="a1body2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="a1heading2">
                                <div class="panel-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="a1heading3">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a1" href="" aria-expanded="false" aria-controls="a1body3">
                                      <i class="ion-ios-people-outline"></i> There is delay in my video playback?
                                    </a>
                                </h4>
                            </div>
                            <div id="a1body3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a1heading3">
                                <div class="panel-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    