 <!-- Section -->
    <section class="bgcolor3 pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Featured By Leaders</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-6.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-8.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-4.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-5.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="/img/logo-7.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>