<!-- Footer -->
    <div class="footer">
        <div class="footer-pri">            <!-- Primary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-box about-box rev">
                            <img height="60" src="/img/Suvidha-small.png" alt="{{site.title}}">         <!-- Replace woth your logo -->
                          <!--   <br><br> -->
                           <br>
                           <br>
                            <p>Our mission is to preserve the holistic traditional values and local ethos in the rural world, even while achieving progress by employing updated, innovative technology.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- <div class="footer-box links-box">
                            <h5 class="heading">Quick Links</h5>
                            <ul>
                                <li><a href="">About the product</a></li>
                                <li><a href="">Usage Policies</a></li>
                                <li><a href="">How it works</a></li>
                                <li><a href="">Locate store</a></li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="col-md-3">
                        <div class="footer-box social-box rev">
                            <h5 class="heading">Talk to us</h5>
                            <ul class="contact">
                                <li><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
                                <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
                            </ul>
                            <hr>
                            <ul class="social rev">
                                <li><a href="{{site.facebook}}" target="_blank"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="{{site.twitter}}" target="_blank"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="{{site.googleplus}}" target="_blank"><i class="ion-social-googleplus"></i></a></li>
                               <!--  <li><a href="{{site.email}}"><i class="ion-social-github"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sec">            <!-- Secondary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">© 2017. All rights reserved by <a href="https://fruittreat.com">Fruit Treat</a></span>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <p class="text-right">Designed by <a href="http://webjeda.com">webjeda</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
