  <header class="">
       <!-- Navigation Bar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                                <i class="ion-ios-more-outline"></i>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img src="/img/fruit-treat-logo-xs.png" alt="">         <!-- Replace with your logo -->
                            </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="navigation">
                            {% include navigation-bar-pages.html %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>