<header class="">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navigation"
            >
              <ion-icon name="menu-outline"></ion-icon>
            </button>
            <a class="navbar-brand" href="/">
              <img
                height="50"
                src="/img/fixed-karanthfoods-logo.svg"
                alt="karathfoods-logo"
              />
            </a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="navigation">
            {% include navigation-bar-index.html %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
