<ul class="nav navbar-nav">          <!-- Menu -->
    <li class="">
        <a href="#home" class="scroll-link">Home</a>          <!-- Menu Item -->
    </li>
    <li class="">
        <a href="#about-us" class="scroll-link">About Us</a>          <!-- Menu Item -->
    </li>
    <li class="">
        <a href="#products" class="scroll-link">Products</a>          <!-- Menu Item -->
    </li>
    <li class="">
        <a href="#tech" class="scroll-link">Tech</a>        
    </li>
    <!-- <li class="">
        <a href="#process" class="scroll-link">Process</a>          Menu Item
    </li> -->
    <li class="">
        <a href="#testimonials" class="scroll-link">Testimonials</a>          <!-- Menu Item -->
    </li>
<!--     <li class="">
        <a href="#pricing" class="scroll-link">Pricing</a>          Menu Item
    </li> -->
    <li class="">
        <a href="#team" class="scroll-link">Team</a>          <!-- Menu Item -->
    </li>
    <li class="">
        <a href="#contact" class="scroll-link">Contact</a>          <!-- Menu Item -->
    </li>
</ul>