 <!-- Section -->
    <section class="pt-100 pb-80 bgcolor3" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Affordable Plans</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <div class="plan-name">Student</div>
                            <div class="price">$199</div>
                            <div class="plan-tenure">One time cost</div>
                        </div>
                        <hr>
                        <div class="pricing-body">
                            <ul>
                               <li><i class="ion-ios-cloud-outline"></i> 20GB Cloud storage</li> 
                               <li><i class="ion-ios-gear-outline"></i> On-site free service</li> 
                               <li><i class="ion-ios-locked-outline"></i> 2 year insurance</li> 
                               <li><i class="ion-ios-shuffle"></i> 2.6GHZ Processor</li> 
                               <li><i class="ion-ios-videocam-outline"></i> Access to Movies</li> 
                            </ul>
                        </div>
                        <a href="http://wwsthemes.com/themes/ambar/v1.1/ambar-light/index-2.html" class="btn btn-primary">Get this</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box popular">
                        <div class="pricing-header">
                            <div class="plan-name">Startup</div>
                            <div class="price">$249</div>
                            <div class="plan-tenure">One time cost</div>
                        </div>
                        <hr>
                        <div class="pricing-body">
                            <ul>
                               <li><i class="ion-ios-cloud-outline"></i> 20GB Cloud storage</li> 
                               <li><i class="ion-ios-gear-outline"></i> On-site free service</li> 
                               <li><i class="ion-ios-locked-outline"></i> 2 year insurance</li> 
                               <li><i class="ion-ios-shuffle"></i> 2.6GHZ Processor</li> 
                               <li><i class="ion-ios-videocam-outline"></i> Access to Movies</li> 
                            </ul>
                        </div>
                        <a href="" class="btn btn-primary">Get this</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <div class="plan-name">Business</div>
                            <div class="price">$299</div>
                            <div class="plan-tenure">One time cost</div>
                        </div>
                        <hr>
                        <div class="pricing-body">
                            <ul>
                               <li><i class="ion-ios-cloud-outline"></i> 20GB Cloud storage</li> 
                               <li><i class="ion-ios-gear-outline"></i> On-site free service</li> 
                               <li><i class="ion-ios-locked-outline"></i> 2 year insurance</li> 
                               <li><i class="ion-ios-shuffle"></i> 2.6GHZ Processor</li> 
                               <li><i class="ion-ios-videocam-outline"></i> Access to Movies</li> 
                            </ul>
                        </div>
                        <a href="" class="btn btn-primary">Get this</a>
                    </div>
                </div>
            </div>
        </div>
    </section>