   <!-- Section -->
    <section class="pt-100 pb-80 bgcolor3" id="ratings">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Average Customer Ratings</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rating-box">
                        <ul class="star-rating">
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star-half"></i></li>
                            <li><i class="ion-ios-star-outline"></i></li>
                        </ul>
                        <br>
                        <img src="/img/rating-amazon.png" class="rating-source" alt="">
                        <div class="rating-count">9734 Reviews</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rating-box">
                        <ul class="star-rating">
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star-outline"></i></li>
                        </ul>
                        <br>
                        <img src="/img/rating-infibeam.png" class="rating-source" alt="">
                        <div class="rating-count">2371 Reviews</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rating-box">
                        <ul class="star-rating">
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                            <li><i class="ion-ios-star"></i></li>
                        </ul>
                        <br>
                        <img src="/img/rating-gamestop.png" class="rating-source" alt="">
                        <div class="rating-count">539 Reviews</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
