  <!-- Section -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>What's so special</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20">
                    <img src="/img/product-shot-3.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 mt-20">
                    <p class="lead">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                    <ul class="list-default">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed do eiusmod tempor incididunt ut labore et dolore magna.</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                    <a href="" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </section>