<!-- Section -->
<section class="pt-100 pb-80" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-box">
          <h2>Our Dedicated Team</h2>
          <p class="sub-heading">
            We have a dedicated team of experts in their respecive fields.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="member-box rev">
          <img
            src="/images/team/bharadwaj.webp"
            class="img-rounded"
            alt="fruittreat team"
            loading="lazy"
          />
          <h6 class="heading">Bharadwaj Karanth</h6>
          <span class="text-muted">Founder & CEO</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="member-box rev">
          <img
            src="/images/team/sendil.webp"
            class="img-rounded"
            alt="fruittreat team"
            loading="lazy"
          />
          <h6 class="heading">Sendil Kumar R</h6>
          <span class="text-muted">Senior Sales Manager</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="member-box rev">
          <img
            src="/images/team/manush.webp"
            class="img-rounded"
            alt="fruittreat team"
            loading="lazy"
          />
          <h6 class="heading">Manush M R</h6>
          <span class="text-muted">Head Production</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="member-box rev">
          <img
            src="/images/team/karthik.webp"
            class="img-rounded"
            alt="fruittreat team"
            loading="lazy"
          />
          <h6 class="heading">Karthikeya Bhat</h6>
          <span class="text-muted">Brand Manager</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="member-box rev">
          <img
            src="/images/team/shreyas.webp"
            class="img-rounded"
            alt="fruittreat team"
            loading="lazy"
          />
          <h6 class="heading">Shreyas Y S</h6>
          <span class="text-muted">HR & Admin</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="member-box rev">
          <img
            src="/images/team/akash.webp"
            class="img-rounded"
            alt="fruittreat team"
            loading="lazy"
          />
          <h6 class="heading">Akash Alegavi</h6>
          <span class="text-muted">Manager: Quality & NPD</span>
        </div>
      </div>
    </div>
    <div class="row d-grid justify-content-center">
      <div class="col-md-4">
        <div class="member-box rev">
          <img
            src="/images/team/suchitra.webp"
            class="img-rounded"
            alt="fruittreat team"
            loading="lazy"
          />
          <h6 class="heading">Suchithra K S</h6>
          <span class="text-muted">Accountant</span>
        </div>
      </div>
    </div>
  </div>
</section>
