 <!-- Section -->
    <section class="pt-100 pb-80" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Our Dedicated Team</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-box rev">
                        <img src="/img/bharadwaj-karanth.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Bharadwaj Karanth</h6>
                        <span class="text-muted">Founder, FruitTreat</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-box rev">
                        <img src="/img/dheeraj-td.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Dheeraj T D</h6>
                        <span class="text-muted">Business Op, FruitTreat</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-box rev">
                        <img src="/img/sharathdt.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Sharath Kumar</h6>
                        <span class="text-muted">Developer, FruitTreat</span>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="member-box">
                        <img src="/img/team-2.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Harrison Walton</h6>
                        <span class="text-muted">Support, FruitTreat</span>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
