 
    <!-- Section -->
    <section class="pt-100 pb-100" id="tech">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Technology</h2>
                        <p class="sub-heading">The Vacuum Frying Technology used is a tremendous improvement over the conventional deep frying technology.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20 rev">
                    <img src="/images/Fruit-Treat_All.jpg" class="img-responsive" alt="Fruit Treat Vaccum Fried Fruits">
                </div>
                <div class="col-md-6 mt-20">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-cog"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">Vaccum Frying</h6>
                                <p>Low temparature vaccum frying reduces oxidation and there will be less exposure to atmosphere.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-heart"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">Healthy</h6>
                                <p>Vaccum fried fruits retain the nutritional contents as of natural fruits.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-leaf"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">Natural</h6>
                                <p>Fruits retain the natural color, flavour and nutritional values because of no additives and preservative.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>  
