<!-- Section -->
<section class="pt-100 pb-100" id="tech">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-box">
          <h2>Technology</h2>
          <p class="sub-heading">
            The Vacuum Frying Technology used is a tremendous improvement over
            the conventional deep frying technology.
          </p>
        </div>
      </div>
      <div class="col-md-6 mt-20 rev">
        <img
          src="/images/Fruit-Treat_All.jpg"
          class="img-responsive"
          alt="Fruit Treat Vaccum Fried Fruits"
        />
      </div>
      <div class="col-md-6 mt-20">
        <ul class="features">
          <li>
            <div class="icon">
              <ion-icon name="cog-outline"></ion-icon>
            </div>
            <div class="features-body">
              <h6 class="heading">Vacuum Frying</h6>
              <p>
                Vacuum frying at lower temperatures minimizes oxidation,
                reducing exposure to the atmosphere.
              </p>
            </div>
          </li>
          <li>
            <div class="icon">
              <ion-icon name="heart-outline"></ion-icon>
            </div>
            <div class="features-body">
              <h6 class="heading">Healthy</h6>
              <p>
                Fruits and veggies that undergo vacuum frying preserve the
                natural nutritional content of the original fruits and
                vegetables.
              </p>
            </div>
          </li>
          <li>
            <div class="icon">
              <ion-icon name="leaf-outline"></ion-icon>
            </div>
            <div class="features-body">
              <h6 class="heading">Natural</h6>
              <p>
                Fruit Treat products maintain their natural colour, flavour, and
                nutritional integrity due to the absence of additives and
                preservatives.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
