<!-- Section -->
<section class="pt-100 pb-100" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="heading-box inverse no-center white">
          <h2 class="heading fadeText white">People Show Love</h2>
          <p class="sub-heading">
            Explore the feedback and reviews shared by our valued customers to
            gain insights into their experiences with our services.
          </p>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="testimonial-slider">
          <div class="slider-items owl-carousel">
            {% for review in page.reviews %}
            <div>
              <div class="testimonial-box">
                <div class="testimonial-img">
                  <img
                    src="/img/{{review.image}}"
                    class="img-circle"
                    alt="{{review.name}}"
                  />
                </div>
                <span class="testimonial-by white">
                  {{review.name}}<br /><small style="color: #ddd"
                    >{{review.about}}</small
                  >
                </span>
                <div class="testimonial-body">
                  <p>{{review.testimonial}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
