    <!-- Section -->
    <section class="pt-100 pb-100" style="background-image: url(/images/light-bg.jpg); background-position: center 30%; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="counter-box">
                        <div class="counter-body">
                            <div class="icon"><i class="ion-ios-timer-outline"></i></div>
                            <h3 class="count" data-to="5470802">5,470,802</h3>
                            <div class="text">Units sold</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  